@import './src/scss/utils/mixins';
@import "./src/scss/utils/vars";


.section-description{
  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 941px;
    height: 960px;
    background: #EBBD62;
    @include mediaWidth_1824{
      width: 841px;
      height: 860px;
    }
    @include mediaWidth_1640{
      width: 591px;
      height: 610px;
    }
    @include mediaWidth_1224{
      width: 391px;
      height: 410px;
    }
    @include mediaWidth_992{
      width: 641px;
      height: 660px;
    }
    @include mediaWidth_700{
      width: 391px;
      height: 410px;
    }
    @include mediaWidth_424{
      width: 291px;
      height: 310px;
    }
  }
}


.image-description{
  max-width: 960px;
  max-height: 960px;
  @include mediaWidth_1640{
    padding-left: 50px;
  }
  @include mediaWidth_992{
    padding-right: 15px;
    margin-bottom: 20px;
  }
  img{
    max-width: 100%;
  }
}

.text-container{
  padding-left: 112px;
  padding-right: 64px;
  max-width: 656px;
  overflow: hidden;
  @include mediaWidth_992{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }
  h2, h3{
    color: #333333;
  }
  h2{
    font-family: $PlayfairDisplay-Black;
    font-size: 50px;
    line-height: 48px;
    margin-bottom: 24px;
    @include mediaWidth_1640{
      font-size: 3.125vmax;
      line-height: 3vmax;
    }
  }
  h3{
    font-family: $PlayfairDisplay-Regular;
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 21px;
    @include mediaWidth_1640{
      font-size: 2vmax;

    }
  }
  p{
    font-family: $Oxygen-Regular;
    font-size: 16px;
    line-height: 28px;
    color: #787D88;
  }
}

.flex-styles{
  align-items: center;
  @include mediaWidth_992{

    flex-wrap: wrap;
  }
}