@import './src/scss/utils/mixins';
@import "./src/scss/utils/vars";

.social-media{
  margin-bottom: 25px;
  a{
    color: #fff;
    font-size: 20px;
  }


  li:first-child{
    margin-left: 20px;
  }
}
.contacts-footer{
  max-width: 280px;


  a{
    font-family: $Rubik-Bold;
    color: rgba(255, 255, 255, 60%);
    font-size: 16px;
    line-height: 18px;
  }
  .location{
    margin-bottom: 23px;
  }

  .location,
  .phone-and-email{
    img{
      margin-right: 5px;
    }
    display: flex;
    align-items: flex-start;
  }
  .phone-and-email{}
}
.listSocial:not(:last-child){
  margin-right: 40px;
}

.text{
  font-family: $Oxygen-Regular;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
}
