@import './src/scss/utils/mixins';
@import "./src/scss/utils/vars";


.block-care-card{
  max-width: calc(1440px / 3) ;
  .care-card{
    max-width: 247px;
    margin-bottom: 25px;
  }
  span{
    display: block;
    font-family: $Oxygen-Regular;
    color: rgba(255, 255, 255, 60%);
    font-size: 12px;
    line-height: 15px;
  }
}