@import './src/scss/utils/mixins';
@import "./src/scss/utils/vars";



//.adaptive{
//  @include mediaWidth_992{
//    flex-wrap: wrap;
//    justify-content: center;
//  }
//}

.section-our-services{
  background-repeat: no-repeat !important;
  background-size: cover !important;
  @include mediaWidth_992{
    background-position-x: 15.4% !important;
  }
  .title-services{
    flex-grow: 1;
    @include mediaWidth_992{
      margin-top: 0;
      margin-bottom: 0;
      margin-bottom: 20px;
      text-align: center;
    }
    h2{
      font-size: 80px;
      line-height: 48px;
      color: #fff;
      margin-bottom: 40px;
      text-align: center;
      @include mediaWidth_1025{
        font-size: 5vmax;
      }
    }
    h3{
      text-align: center;
      font-size: 40px;
      line-height: 28px;
      color: #fff;
      margin-bottom: 41px;
      @include mediaWidth_1025{
        font-size: 4vmax;
      }
    }
    .all-services{
      display: inline-block;
      font-size: 22px;
      line-height: 29px;
      padding: 24px 31px;
      border: 1px solid #fff;
      @include mediaWidth_700{
        width: 100%;
      }
    }
  }

  //.services-cards{
  //  flex-wrap: wrap;
  //  max-width: 570px;
  //  margin-top: -200px;
  //  margin-bottom: -200px;
  //  @include mediaWidth_992{
  //    justify-content: center;
  //    margin-top: 0;
  //    margin-bottom: 0;
  //  }
  //}



  .services-card{
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #fff;

    text-align: center;
    padding: 50px 40px 34px;
    border: 1px solid #333333;
    height: 485px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
    &:not(:nth-child(even)){
      margin-right: 30px;
    }

    &:not(:nth-last-of-type(-n+2)){
      margin-bottom: 55px;
    }
    @include mediaWidth_600{

      margin: 0 !important;
      margin-bottom: 10px !important;
    }
    img{
      max-width: 124px;
      max-height: 80px;
      margin-bottom: 20px;
    }
      h4{
        font-weight: bold;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        color: #333333;
        margin-bottom: 12px;
      }
    span{
      font-family: $Oxygen-Regular;
      color: #878DA4;
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 13px;
    }

  }
}

.more-info{
  margin-top: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #EBBD62;;
}