@import './src/scss/utils/mixins';
@import "./src/scss/utils/vars";


.navMenu{
  position: absolute !important;
  width: 100%;
  overflow: scroll;
  top: 100%;
  left: 0;
  background: #171717;
  opacity: 0.6;
  z-index: 10;

}

.row-reverse{
  max-height: 120px;
  @include mediaWidth_700{
    flex-direction: row-reverse;
  }
}

.submenu-list{
  border: none !important;
}

.list-page_nav-menu{
  height: calc(100vh - 120.133px);
  align-items: flex-start;
  z-index: 11;
  ul{
    width: 100%;
    border-left: 5px solid #EBBD62;
    padding-left: 39px;
    top: 17%;
  }

  li::before{
    content: '';
    display: inline-block;

  }
  .nav-link{

    margin-bottom: 28px;
    a{
      display: inline;
      font-size: 40px;
      color: #fff;
      transition: .6s;
      &:hover{
        color: #EBBD62;
        transition: .6s;
      }
      @include mediaWidth_700{
        font-size: 30px;
      }
    }
      @include mediaWidth_1366{
        margin-bottom: 18px;

      }
    @include mediaWidth_700{
      margin-bottom: 25px;
    }

  }

  .nav-link:nth-child(3):hover{
    .submenu-list{
      height: 315px;

      margin-top: 20px;
      transition: .3s ease-in-out;
      @include mediaWidth_992{
        height: 100%;
      }
    }
  }
  .submenu-list{
    transition: .3s ease-in-out;
      font-size: 22px;
      line-height: 29px;
      height: 0;padding: 0 !important;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    height: 0;
    li{
      font-family: $PlayfairDisplay-Bold;
      a{
        display: block;
        font-size: 22px !important;
        line-height: 29px !important;
      }

    }
  }
  a{
    font-size: 40px;
    line-height: 40px;

    @include mediaWidth_1366{
      font-size: 30px;
      line-height: 20px;
    }
  }
    span{
      font-family: $Philosopher;
    }
}