@import './src/scss/utils/mixins';
@import "./src/scss/utils/vars";


.logo-link{
  display: block;
  max-width: 276px;
  max-height: 175px;
  padding: 27px 34px;
  background: #fff;
  transform: translateY(27px);
  z-index: 16;
  @include mediaWidth_700{
    max-width: 155px;
    transform: translateY(0);
  }
  img{
    display: inline-block;
    max-width: 100%;
  }
}